div.main{
    width: 100%;
    background-size: cover;
    background-blend-mode: lighten;
    overflow: hidden;
}

div.content{
    width: 80%;
    overflow: hidden;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    border-style: solid;
    border-width: 1em;
    padding: 5%;
    
    border: 1px solid #ddd;
    border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


img.content{
    
    border-style: solid;
    border-color: black;
    border-width: .25em;
}

button.content{
    padding: 1%;
    font-size: max(1.5vw, 1em);
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    
}

a.content{
    text-decoration: none;
}

h1.content{
    text-align: center;
    color: #384959;
    margin-bottom: 5%;
    font-size: max(2vw, 20px);
}



@media screen and (max-width: 600px){
    img.content{
        width: 80%;
        margin-left: 10%;
    }
    p.content{
        width: 80%;
        font-size: max(1vw, 20px);
        margin-left: 10%;
        font-family: 'Times New Roman', Times, serif;
    }
    .paper_name{
        font-size: max(1vw, 20px);
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }
    .authors{
        margin-left: 5%;
        font-size: max(1vw, 20px);
        font-family: 'Times New Roman', Times, serif;
    }
    .paper_link{
        margin-left: 5%;
        font-size: max(1vw, 20px);
        font-family: 'Times New Roman', Times, serif;
    }
    .review{
        margin-left: 5%;
        font-size: max(1vw, 20px);
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
    }
}

@media screen and (min-width: 600px){
    img.content{
        width: 30%;
        float: right;
        
    }
    p.content{
        width: 50%;
        font-size: max(1vw, 10px);
        font-family: 'Times New Roman', Times, serif;
    }

    .paper_name{
        font-weight: bold;
        font-size: max(1.5vw, .75em);
        font-family: 'Times New Roman', Times, serif;
    }

    .authors{
        margin-left: 5%;
        font-size: max(1.2vw, .6em);
        font-family: 'Times New Roman', Times, serif;
    }

    .paper_link{
        margin-left: 5%;
        font-size: max(1.2vw, .6em);
        font-family: 'Times New Roman', Times, serif;
    }
    .review{
        margin-left: 5%;
        font-size: max(1.2vw, .6em);
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
    }
}