div.main{
    width: 100%;
    background-size: cover;
    background-blend-mode: lighten;
    overflow: hidden;
}

div.content{
    width: 80%;
    overflow: hidden;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    border-style: solid;
    border-width: 1em;
    padding: 5%;
    
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


img.content{
    
    border-style: solid;
    border-color: black;
    border-width: .25em;
}

button.content{
    padding: 1%;
    font-size: max(1.5vw, 1em);
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    
}

a {
    text-decoration: none;
}

h1.content{
    text-align: center;
    color: #384959;
    margin-bottom: 5%;
    font-size: max(2vw, 30px);
}

a:hover {
    text-decoration: underline;
}

.contact p {
    margin: 0;
}


@media screen and (max-width: 800px){
    img.content{
        width: 80%;
        margin-left: 10%;
    }
    p.content{
        width: 80%;
        font-size: max(1vw, 20px);
        margin-left: 10%;
    }
    .paper_name{
        font-size: max(1vw, 20px);
        font-weight: bold;
    }
    .authors{
        margin-left: 5%;
        font-size: max(1vw, 15px);
    }
    .paper_link{
        margin-left: 5%;
        font-size: max(1vw, 15px);
    }
    .review{
        margin-left: 5%;
        font-size: max(1vw, 15px);
        font-style: italic;
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
        width: 100%;
        margin: 4%;
    }
}

@media screen and (min-width: 800px){
    img.content{
        width: 30%;
        float: right;
        
    }
    p.content{
        width: 50%;
        font-size:20px;
    }

    .paper_name{
        font-weight: bold;
        font-size: 20px;
    }

    .authors{
        margin-left: 5%;
        font-size: 15px;
    }

    .paper_link{
        margin-left: 5%;
        font-size: 15px;
    }
    .review{
        margin-left: 5%;
        font-size: 15px;
        font-style: italic;
    }

    .contact {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin: 2%;
        margin-top: 5%;
    }
}