div.main{
    width: 100%;
    background-image: url("../images/dna_bg.jpg");
    background-size: cover;
    background-color: rgba(255,255,255,0.3);
    background-blend-mode: lighten;
    overflow: hidden;
}



div.left{
    border-style: solid;
    border-color: black;
    padding: 3%;
    background-color: white;
    margin: 5%;
}

div.right{
    border-style: solid;
    border-color: black;
    padding: 3%;
    background-color: white;
    float: right;
    margin: 5%;
}

@media screen and (min-width: 600px){
    .row{
        display: flex;
        justify-content: space-evenly;
    }
    h1.left{
        text-align: center;
        font-size: 2.5vw;
    }

    h1.right{
        text-align: center;
        font-size: 2.5vw;
    }

    p.left{
        font-size: 1.3vw;
    }

    p.right{
        font-size: 1.3vw;
    }
    div.right{
        width: 50%
    }
    div.left{
        width: 50%
    }
}

@media screen and (max-width: 600px){
    .row{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    h1.left{
        text-align: center;
        font-size: 4vw;
    }

    h1.right{
        text-align: center;
        font-size: 4vw;
    }

    p.left{
        font-size: 3vw;
        margin-left: 10%;
    }

    p.right{
        font-size: 3vw;
        margin-left: 10%;
    }
    
}