div.main{
    width: 100%;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-color: rgba(255,255,255,0.3);
    background-blend-mode: lighten;
    overflow: hidden;
}

.box{
    width: 80%;
    border-style: solid;
    border-color: black;
    background-color: white;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    overflow: hidden;
    padding: 5%;
}


@media screen and (min-width: 600px){
    h1.title{
        font-size: 2.3vw;
        width: 60%;
    }

    h2.place{
        font-size: 1.5vw;
        color: rgb(76, 76, 76);
    }

    p.date{
        font-size: 1.4vw;
    }

    .description{
        font-size: 1.4vw;
    }

    .row{
        display: flex;
        justify-content: space-between;
    }
    .button{
        font-size: 1.25vw;
        border-radius: 10px;
        color: white;
        background-color: rgb(10, 76, 134);
    }

}

@media screen and (max-width: 600px){
    .title{
        text-align: center;
    }
    .date{
        text-align: center;
    }
    .place{
        text-align: center;
        color: rgb(76, 76, 76);
    }

    .button{
        font-size: max(1.25vw, 1em);
        border-radius: 10px;
        color: white;
        text-decoration: none;
        overflow: hidden;
        display: block;
        margin: 0 auto;
    }

    button.button{
        background-color: rgb(10, 76, 134);
    }
}
