.main{
    background-image: url("../images/graph_bg.jpg");
    background-size: cover;
}

@media screen and (min-width: 600px){
    div.intro{
        display: flex;
        justify-content: space-evenly;
        align-content: center;
    }
    #MadelynImage{
        width: 30%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .right{
        width: 35%;
        margin-top: 5%;
    }
    p.bio{
        font-size: 2.5vw;
    }
    h1.bio{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 5vw;
        font-weight: bold;
        padding: 0;
    }
    #about_me{
        margin-left: 40%;
        width: 25%;
        margin-top: 3%;
        margin-bottom: 3%;
        padding: 2%;
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 600px){
    #MadelynImage{
        width: 70%;
        margin-left: 15%;
        margin-top: 5%;
    }
    .right{
        width: 70%;
        margin-left: 15%;
        margin-top: 5%;
    }
    p.bio{
        font-size: 4vw;
    }
    h1.bio{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 6vw;
        font-weight: bold;
        padding: 0;
    }
    #about_me{
        margin-left: 40%;
        width: 25%;
        margin-top: 3%;
        margin-bottom: 3%;
        padding: 2%;
        font-size: 2vw;
    }
    
}


#MadelynImage {
    height: auto;
    border-style: solid;
    border-width: 5px;
    border-color: white;

}

div.bio {
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
    text-align: center;
    overflow: hidden;
    
}





@media screen and (min-width: 600px){
    .recents{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        background-color: rgb(206, 206, 206);
        margin: 0;
        padding: 5%;
        overflow: hidden;
    }
}

@media screen and (max-width: 600px){
    .recents{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(206, 206, 206);
        margin: 0;
        padding: 5%;
        overflow: hidden;
    }
}

img.bottom{
    width: 100%;
    height: auto;
}

div.class{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    padding: 2%;
    margin-bottom: 5%;
    background-color: white;
    overflow: hidden;
}

@media screen and (max-width: 600px){
    div.class{
        width: 80%;
    }
    div.experience{
        width: 80%;
    }
    h1.bottom{
        font-size: 6vw;
    }
    h2.bottom{
        font-size: 4vw;
    }
}

@media screen and (min-width: 600px){
    h1.bottom{
        font-size: max(2.5vw, 1.3em);
    }
    h2.bottom{
        font-size: max(2vw, 1em);
    }
    div.class{
        width: 30%;
        height: 550px;
    }
    div.experience{
        width: 30%;
        height: 550px;
    }
}

div.experience{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    padding: 2%;
    background-color: white;
    overflow: hidden;
    margin-bottom: 5%;
}

h1.bottom{
    padding: 0;
    margin-top: 0;
    text-align: center;
}

h2.bottom{
    padding: 0;
    margin-top: 0;
    text-align: center;
    color: rgb(69, 69, 69);
}

p.bottom{
    text-align: center;
    font-size: max(1.3vw, .75em);
}

button.bottom{
    margin-top: 10%;
    padding: 5px;
    font-size: max(1.5vw, .75em);
}