div.main{
    width: 100%;
    background-size: cover;
    background-blend-mode: lighten;
    overflow: hidden;
}


.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

.project-card {
    width: 70%;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;

    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}



#cross_stitch_image {
    width: 20%;
    height: auto;
    margin-left: 5%;
}



.project-content h2 {
    margin: 0;
    font-size: 24px;
}

.project-content h3 {
    color: rgb(97, 96, 96);
    font-weight: normal;
    margin: 2% 0 0 4%;
}

.project-content p {
    margin: 4% 0 4% 4%;
    color: #555;
}

.project-links a {
    margin-right: 15px;
    margin-left: 4%;
    text-decoration: none;
    color: #007BFF;
}

.project-links a:hover {
    text-decoration: underline;
}

.footnote {
    color: #555;
    font-size: max(1vw, 20px);
}

/* When screen is small */
@media screen and (max-width: 700px){
    .project-card {
        
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        align-items: center;

    }

    .project-card img {
        width: 70%;
        margin-left: 2%;
        height: auto;
        border-radius: 8px;
    }

    .project-content {
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: start;
        margin: 3%;
    }
}

/* When screen is large */
@media screen and (min-width: 700px){
    .project-card {
        
        width: 70%;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .project-card img {
        width: 30%;
        margin-right: 2%;
        height: auto;
        border-radius: 8px;
    }

    .project-content {
        display: flex;
        flex-direction: column;
        width: 60%;
        justify-content: start;
        margin: 4%;
    }

}
