
body {
    margin: 0%; 
    font-family: Verdana, sans-serif;
}


.navbar {
    background-color: #384959;
    text-align: center;
    padding: 15px;
    border: 0px;
    margin: 0px;
}

.navbar a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding-right: 3%;
    padding-left: 3%;
    font-size: max(1.3vw, .8em);
}

div.header {
    background-color:rgb(235, 235, 235);
    margin:0px;
    overflow: hidden;
}


img.header{
    width: max(5%, 40px);
    height: auto;
    margin: 15px;;
    float: left;
}

h1.header{
    font-size: max(3vw, 25px);
    margin-top:1%;
    color: #384959;
}

@media screen and (min-width: 600px) {
    h1.header{
        margin-top:1%;
    }
}

@media screen and (max-width: 600px) {
    h1.header{
        margin-top:2%;
    }
}
