
body {
    margin: 0%; 
    font-family: Verdana, sans-serif;
    
}


.navbar {
    background-color: #333;
    text-align: center;
    padding: 15px;
    border: 0px;
    margin: 0px;
}

.navbar a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding-right: 3%;
    padding-left: 3%;
    font-size: max(1.3vw, .8em);
}

div.header {
    background-color: white;
    border:0px;
    margin:0px;
    padding: 10px 25px;
}

img.header{
    width: max(10%, 70px);
    height: auto;
    float: left;
}

h1.header{
    font-size: max(3vw, 25px);
    margin-top: 1%;
}
