
body {
    margin: 0%; 
    font-family: Verdana, sans-serif;
    
}


.navbar {
    background-color: #333;
    text-align: center;
    padding: 15px;
    border: 0px;
    margin: 0px;
}

.navbar a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding-right: 3%;
    padding-left: 3%;
    font-size: max(1.3vw, .8em);
}

div.header {
    background-color: white;
    margin:0px;
    overflow: hidden;
}


img.header{
    width: max(7%, 50px);
    height: auto;
    margin: 5px;;
    float: left;
}

h1.header{
    font-size: max(3vw, 25px);
    margin-top:1%;
    color: rgb(71, 71, 71)
}

@media screen and (min-width: 600px) {
    h1.header{
        margin-top:1%;
    }
}

@media screen and (max-width: 600px) {
    h1.header{
        margin-top:2%;
    }
}
